.main-container{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}


.cstore{
    align-items: center;
}

.conimg{
    width: 900px;
    margin-top: 20px;
}

.row{
    margin-top: 20px;
}